@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.mainBackground {
    background-color: #d5cfcf;
}

.animated_title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 35%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated_title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 85%;
}
.animated_title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated_title > div div span {
  display: block;
}
.animated_title > div.text_top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated_title > div.text_top div {
  animation: showTopText 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated_title > div.text_top div span:first-child {
  color: #767676;
}
.animated_title > div.text_bottom {
  bottom: 0;
}
.animated_title > div.text_bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}